<form class="form-wrapper-100" *ngIf="form" [formGroup]="form" (ngSubmit)="createOrder()">
    <h3> Shipping Details:</h3>

    <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input autocomplete="autocomplete" (dblclick)="fill('city')" formControlName="city" type="text" matInput placeholder="city" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input autocomplete="autocomplete" (dblclick)="fill('street')" formControlName="street" type="text" matInput placeholder="street" />
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label> Shipping Date:</mat-label>
        <input autocomplete="autocomplete" formControlName="deliveryDate" type="date" matInput placeholder="date" />
        <mat-error *ngIf="form.get('deliveryDate').errors?.notAvailable"> You must select another day, all shipments are busy.</mat-error>
    </mat-form-field>

    <h3> Payment:</h3>
    <mat-form-field appearance="fill">
        <mat-label> Credit Card:</mat-label>
        <input autocomplete="autocomplete" formControlName="LastDigitsCreditCard" type="text" matInput placeholder="LastDigitsCreditCard" />
        <mat-error *ngIf="form.get('LastDigitsCreditCard').errors?.pattern"> Invalid credit card number.</mat-error>

    </mat-form-field>



    <button class="btn-gold" type="submit" [disabled]="!form.valid">Order</button>
</form>
<app-order-created-modal [receipt]="receipt" (closeModal)="closeModal()" [show]="showSuccessModal"></app-order-created-modal>