<form class="form-wrapper-100" [formGroup]="form" (ngSubmit)="create()">
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input autocomplete="autocomplete" formControlName="name" type="text" matInput placeholder="name" />
    </mat-form-field>


    <mat-form-field appearance="fill">
        <mat-label>Category:</mat-label>
        <mat-select formControlName="categoryId" [value]="selectedProduct?.categoryId">
            <mat-option [value]="category._id" *ngFor="let category of categories">{{category.name}}</mat-option>
        </mat-select>

    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Price</mat-label>
        <input autocomplete="autocomplete" formControlName="price" type="number" matInput placeholder="price" />
    </mat-form-field>
    <label>
        Image:
         <input type="file" class="custom-file-input" id="customFile" 
         (change)="onFileSelect($event)" #UploadFileInput>
       </label>



    <button class="btn-gold" type="submit" [disabled]="!form.valid">{{action.toUpperCase()}}</button>
    <br>
    <p>{{message}}</p>
</form>