<div class="bag-product">

    <span class="product-name" appHighlight [content]="product.productId.name" [searchTerm]="searchText" [caseSensitive]="false">>
    </span>
    <img src="http://localhost:4000/{{product.productId.image}}" width="50" height="60" />
    <div># {{product.qty}}</div>
    <div>Price: {{product.productId.price}}$</div>
    <div>Total price: {{product.qty * product.productId.price}}$</div>
    <div *ngIf="!disChanges">
        <button mat-icon-button [disabled]="product.qty>=25" (click)="changeQty(product.qty+1)">
            <mat-icon  >add_circle_outline</mat-icon>
         </button>

        <button mat-icon-button [disabled]="product.qty==1" (click)="changeQty(product.qty-1)">
            <mat-icon  >remove_circle_outline</mat-icon>
         </button>
        <button mat-icon-button (click)="remove()" class="remove-btn">
            <mat-icon >clear</mat-icon>
         </button>

        <!-- <button (click)="remove()">X</button> -->
    </div>
</div>