<nav><form>search product<input #productName/>
    <button (click)="search(productName.value)">search</button>
    <div *ngIf="searchResults$ | async; let searchResults">
        <p *ngFor="let result of searchResults">{{result.name}}</p>
    </div>
</form></nav>
<app-shopping-bag *ngIf="user && user.role!=='admin'" [disChanges]="false"></app-shopping-bag>
<app-admin-actions [selectedProduct]="selectedProduct" *ngIf="user && user.role==='admin'"></app-admin-actions>
<app-products-list (onSelect)="selectProduct($event)"></app-products-list>
