<div>
  <form class="form-wrapper" [formGroup]="form" (ngSubmit)="login()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input autocomplete="autocomplete" formControlName="email" type="email" matInput 
      placeholder="Email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password</mat-label>
    <input autocomplete="autocomplete" formControlName="password" type="password" matInput 
    placeholder="Password" />
</mat-form-field>
  
    <button class="btn-gold" type="submit" [disabled]="!form.valid">LOGIN</button>
    <br>
    <a class="a-cls" (click)="goToRegister()">I'm not registered yet</a>
  </form>
 
  
</div>