.bg {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    width: 100%;
    height: calc(100% - 64px);
    position: relative;
}
.bg:after{
    position: absolute;
    width: 100%;
    height: calc(100% - 80px);
    background-color:rgba(0,0,0,0.2);
    bottom:0;
left:0;
}


.bg-after {
    position: absolute;
    background-color: white;
    width: 30%;
    height: 180px;
    opacity: 0.8;
    top: 15%;
    content: '';
    right: 5%;
    font-size: 24px;
    text-align: center;
    padding-top: 30px;
}

.btn-black {
    margin-top: 40px;
}