<div class="product-list">


    <mat-form-field appearance="fill">
        <mat-label>Search product:</mat-label>
        <input autocomplete="autocomplete" [(ngModel)]="searchText" type="text" matInput placeholder="search" />
    </mat-form-field>
    <button class="btn-gold" (click)="search()">SEARCH</button>
    <mat-icon class="clear-btn" (click)="clear()">clear</mat-icon>

    <br>
    <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select [(value)]="category" (selectionChange)="changeCategory($event)">
            <mat-option value="all">Select All</mat-option>
            <mat-option [value]="cat" *ngFor="let cat of categories" [selected]="cat._id===category._id">{{cat.name}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div class="div-wrapper-flex">
    <mat-card *ngFor="let product of productsByCategory" class="card-product">
        <mat-card-header>
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>Price: {{product.price}}$</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost:4000/{{product.image}}" alt="Photo of a cloth">
        <mat-card-content>
            <p *ngIf="user.role!=='admin' else editProduct">
                <input type="number" value="1" #input style="max-width: 100px;" />
                <mat-icon class="add-to-cart" (click)="addToCart(product._id, input?.value)">add_shopping_cart</mat-icon>

            </p>
            <ng-template #editProduct><button class="btn-gold" (click)="onProductClick(product)">Edit product</button></ng-template>

        </mat-card-content>
    </mat-card>
    <h1 *ngIf="!productsByCategory || productsByCategory.length ==0">No products found</h1>

</div>